<body>
    <div class="nav">
        <%# Navigation Bar  %> 
        <a href="#"> Home </a>
        <a href="#">Add Product</a>
        <a href="#">login </a>
        <a href="#">Layout</a>
        <a href="/signUp">signUp</a>
        <a href="/sign">sign</a>

    </div>